<!doctype html>
<html lang="en, ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Подключение собственного CSS файла -->
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-light-olive">
                    <h5 class="text-center">Информация о реке</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group mb-3">
                        <li class="list-group-item">Название: <br><span th:text="${river.name}"></span></li>
                        <li class="list-group-item">Длина: <br><span th:text="${river.length}"></span></li>
                        <li class="list-group-item">Ширина: <br><span th:text="${river.width}"></span></li>
                        <li class="list-group-item">Устье: <br><span th:text="${river.riverMouth}"></span></li>
                        <li class="list-group-item">Исток: <br><span th:text="${river.riverSource}"></span></li>
                        <li class="list-group-item">Используется для: <br><span th:text="${river.usedFor}"></span></li>
                        <li class="list-group-item">Страны: <br><span th:text="${river.countries}"></span></li>
                    </ul>
                    <div class="d-flex justify-content-between">
                        <a class="btn btn-danger float-end" th:href="@{/countries/deleteRiver/{RiverName}(RiverName=${river.name})}">Удалить данные о реке</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Колонка для формы ввода -->
            <div class="card">
                <div class="card-header bg-light-olive">
                    <h5 class="text-center">Редактирование реки</h5>
                </div>
                <div class="card-body">
                    <form th:action="@{/countries/river/updateRiver}" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Название реки:</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="length" class="form-label">Длина:</label>
                            <input type="number" class="form-control" id="length" name="length" required>
                        </div>
                        <div class="mb-3">
                            <label for="width" class="form-label">Ширина:</label>
                            <input type="number" class="form-control" id="width" name="width" required>
                        </div>
                        <div class="mb-3">
                            <label for="riverMouth" class="form-label">Устье реки:</label>
                            <input type="text" class="form-control" id="riverMouth" name="riverMouth" required>
                        </div>
                        <div class="mb-3">
                            <label for="riverSource" class="form-label">Исток реки:</label>
                            <input type="text" class="form-control" id="riverSource" name="riverSource" required>
                        </div>
                        <div class="mb-3">
                            <label for="usedFor" class="form-label">Назначение реки:</label>
                            <input type="text" class="form-control" id="usedFor" name="usedFor" required>
                        </div>
                        <div class="mb-3">
                            <label for="countries" class="form-label">Страны (через ", ")</label>
                            <input type="text" class="form-control" id="countries" name="countries">
                        </div>

                        <div class="mb-3">
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-secondary me-2" onclick="window.location.href='/infoPage'">Назад</button>
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>